#body {
  background: #a8c0ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #3f2b96,
    #a8c0ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #3f2b96,
    #a8c0ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#theBrownBear {
  color: #603813;
}

#habitat {
  color: #753a88;
}

#yo {
  border: 1px;
  color: #e55d87;
}

#ol {
  color: #cc2b5e;
}

#species {
  border: groove;
  color: #e55d87;
}

#features {
  font-size: 50px;
  background: #77a1d3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #e684ae,
    #79cbca,
    #77a1d3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #e684ae,
    #79cbca,
    #77a1d3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 190px;
}

div.a {
  text-transform: uppercase;
}
